.textoHome {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 20px;
}

.titulo {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-size: 40px;
    padding: 10px;
}