.titulo {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-size: 40px;
    padding: 10px;
}

.tituloSecu {
    margin: 0;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 300;
    padding: 10px;
    font-size: 25px;
}

.containerFinanciacion {
    width: auto;
    display: flex;
    overflow: hidden;
    background-color: rgb(214, 47, 47);
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(70, 67, 67);
    margin: auto;
}

.imgF {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.contenidoFinanciacion {
    margin: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(221, 220, 220);
    font-weight: 300;
    font-size: 17px;
    text-align: center;
}

.titulo3 {
    margin: 0;
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
    font-weight: 300;
    padding: 10px;
    font-size: 20px;
}

.textoFinanciacion {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 200;
}

.h5Financiacion {
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: 18px;
    text-transform: none;
}